{% extends 'userlayout.html.twig' %}

{% block title %} - Accueil {% endblock %}


{% block content %}

    <section class="ftco-section bg-grey py-5">
        <a href="https://www.tameteo.com/meteo_Saint+Jean+de+la+Ruelle-Europe-France-Loiret--1-24379.html" target="_blank" class="container embed-responsive text-center pt-5">
            <img src="https://www.tameteo.com/wimages/fotof75579220d020d6c092045b67b573e74.png">
        </a>
    </section>

{% endblock %}
