{% extends 'userlayout.html.twig' %}

{% block title %} - Accueil {% endblock %}


{% block content %}

    <section class="ftco-section bg-grey py-5">
        <div class="container embed-responsive text-center pt-5">
            <img src="https://www.tameteo.com/wimages/fotof75579220d020d6c092045b67b573e74.png">
        </div>
    </section>

{% endblock %}
