{% extends 'userlayout.html.twig' %}

{% block content %}

    <section class="ftco-section">

        <div class="container">
            <div class="row">

                <div class="col-md-3 text-center heading">
                    <div class="circle circle2">
                        <i class="fas fa-fighter-jet mt-4"></i>
                    </div>
                    <h3>Avion</h3>
                </div>
                <div class="col-md-3 text-center heading">
                    <div class="circle circle2">
                        <i class="fas fa-paper-plane mt-4"></i>
                    </div>
                    <h3>Planeur</h3>
                </div>
                <div class="col-md-3 text-center heading">
                    <div class="circle circle2">
                        <i class="fas fa-helicopter mt-4"></i>
                    </div>
                    <h3>Helicoptere</h3>
                </div>
                <div class="col-md-3 text-center heading">
                    <div class="circle circle2">
                        <i class="fas fa-home mt-4"></i>
                    </div>
                    <h3>Interieur</h3>
                </div>
            </div>

        </div>

    </section>


    {% endblock %}
