{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="hero-wrap" style="background-image: url('assets/images/avion2flip.jpg');">
            <div class="container-fluid">
                <div class="logo">
                    <a href="#" class="logo">
                        <span><img src="assets/images/LogoRCMCO.gif" alt="logo du club"></span>
                    </a>
                </div>
                <div class="row no-gutters align-items-center justify-content-center">
                    <div class="col-md-10">
                        <h1 class="title my-5">R.C.M.C.O</h1>
                        <h2 class="title2 mt-5">Club d'aeromodelisme Orleanais</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
