{% extends 'base.html.twig' %}

{% block nav %}

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="Home/index.html.twig">RCMCO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active"><a href="#" class="nav-link">Accueil</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Activités
                        </a>
                        <div class="dropdown-menu shadow-sm border-0 rounded-0" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Avions</a>
                            <a class="dropdown-item" href="#">Planeurs</a>
                            <a class="dropdown-item" href="#">Hélicoptères</a>
                            <a class="dropdown-item" href="#">Indoor</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Ecolage</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Galerie</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Inscription</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Le club
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="#">Informations</a>
                            <a class="dropdown-item" href="#">Membres du bureau</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}