{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="jumbotron hero-wrap jumbotron-fluid">
            <div class="logo">
                <a href="#" class=""><span><img src="assets/images/LogoRCMCO.gif" alt="logo du club"></span></a>
            </div>
            <div class="container-fluid">
                <div class="row mt-5 mt-lg-0">
                <h1 class=" title col-lg-7 mb-5 mt-5 pt-5 mt-lg-1 pt-lg-1 display-4">R.C.M.C.O</h1>
                <h2 class="title2 col-lg-10 mt-5 pt-5 mt-lg-1 pt-lg-1 lead">Club d'aeromodelisme Orleanais</h2>
                </div>
            </div>
        </div>

    </header>

{% endblock %}
