{% extends 'userlayout.html.twig' %}

{% block content %}

<h3 class="activitiesTitle">Nos activites</h3>
<section id="plane" class="activitiesPage ftco-section">
    <div class="container">
        <div class="cardActivities1 row d-flex">
            <div class="col-md-6 pl-md-5 ftco-animate fadeInUp ftco-animated">
                <h2 class="activitieTitlePlane mb-4">Avion</h2>
                <p class="textActivities">L'activité avion est exclusivement basée sur le loisir et la détente, le tout dans une ambiance sympa.<br><br>
                Mais tu peux aussi devenir compétiteur.<br><br>
                Du traîner à la maquette, voltigeurs modernes ou respectables trapanelles, qu'ils soient en bois,
                fibre ou dépron, à aile haute ou basse, électrique ou thermique, tous les types d'avions sont représentés.<br><br>
                De 10 à 70 ans, chacun participe et apporte sa bonne humeur. Les plus âgés encadrent bien sûr les plus jeunes, offrent un soutien
                sérieux et une disponibilité à toute épreuve.</p>
            </div>
            <div class="photoActivities1 col-md-6 ftco-animate fadeInUp ftco-animated">
                <div class="photoActivities1 img img-about align-self-stretch">
                    <img src="../assets/images/avions/avion1.jpg" class="card-img-top" alt="photo avion 1">
                </div>
            </div>
        </div>
        <div class="cardActivities2 row d-flex">
            <div class="photoActivities2 col-md-6 ftco-animate fadeInUp ftco-animated">
                <div class="photoActivities2 img img-about align-self-stretch">
                    <img src="../assets/images/avions/avion5.jpg" class="card-img-top" alt="photo avion 2">
                </div>
            </div>
            <div class="photoActivities3 col-md-6 mt-1 ftco-animate fadeInUp ftco-animated">
                <div id="glider" class="photoActivities3 img img-about align-self-stretch">
                    <img src="../assets/images/avions/avion6.jpg" class="card-img-top" alt="photo avion 3">
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="cardActivities1 row d-flex">
                <div class="photoActivities1 col-md-6 ftco-animate fadeInUp ftco-animated">
                    <div class="photoActivities1 img img-about align-self-stretch">
                        <img src="../assets/images/planeur/planeur1.jpg" class="card-img-top" alt="photo planeur 1">
                    </div>
                </div>
                <div class="col-md-6 pl-md-5 ftco-animate fadeInUp ftco-animated">
                    <h2 class="activitieTitleGlider mb-4">Planeur</h2>
                    <p class="textActivities">
                    Vous êtes amoureux du vol silencieux ?<br><br>
                    Au RCMCO, deux possibilités s'offrent à vous : Tout d'abord, le planeur pur, afin de faire évoluer ces modèles.<br>
                    Le RCMCO est équipé de nombreux matériels :</p>
                    <ul>
                    <li class="textActivities">Treuil électrique à tension réglable de 0 à 25kg</li>
                    <li class="textActivities">Ligne sandow de 250m type FF2000 (7kg)</li>
                    <li class="textActivities">Remorqueurs dont l'un est équipé d'un 50cc pour emmener les très grandes plumes.</li>
                    </ul>
                    <p class="textActivities">
                    Enfin, le planeur électrique permet d'être autonome.<br>
                    C'est un vrai régal pour les longues soirées d'été.<br>
                    Le planeur développe l'esprit de groupe et permet de jouer avec les éléments naturels.<br>
                    Mais le planeur c'est aussi la voltige !<br>
                    N'hésitez pas à demander des conseils pour votre pratique.<br>
                    A bientôt sur la piste !</p>
                </div>
            </div>
            <div id="helico" class="cardActivities2 row d-flex">
                <div class="photoActivities2 col-md-6 ftco-animate fadeInUp ftco-animated">
                    <div class="photoActivities2 img img-about align-self-stretch">
                        <img src="../assets/images/planeur/planeur2.jpg" class="card-img-top" alt="photo planeur 2">
                    </div>
                </div>
                <div class="photoActivities3 col-md-6 mt-1 ftco-animate fadeInUp ftco-animated">
                    <div class="photoActivities3 img img-about align-self-stretch">
                        <img src="../assets/images/planeur/planeur3.jpg" class="card-img-top" alt="photo planeur 3">
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="cardActivities1 row d-flex ">
                    <div class="col-md-6 pl-md-5 ftco-animate fadeInUp ftco-animated">
                        <h2 class="activitieTitleHelico mb-4">Helico</h2>
                        <p class="textActivities">Dans notre club, nous sommes une quinzaine de "mordus" de cette discipline.
                        Nous volons toute l'année et par tous les temps que ce soit par -12°C ou +40°C. Maquettes, F3C, 3D, électrique, thermique, toutes ces disciplines sont réunies
                        au RCMCO.<br><br>
                        Tu débutes et tu as du mal à progresser ? Rejoins notre club. Nous t'apporterons notre expérience pour les réglages, t'accompagnerons pour la première mise en route, et nous resterons à tes côtés jusqu'à ce que tu deviennes
                        entièrement autonome.<br><br>
                        Alors n'hésites plus à franchir le pas !!!</p>
                    </div>
                    <div class="photoActivities1 col-md-6 ftco-animate fadeInUp ftco-animated">
                        <div class="photoActivities1 img img-about align-self-stretch">
                            <img src="../assets/images/helico/helico1.jpg" class="card-img-top" alt="photo hélicoptère 1">
                        </div>
                    </div>
                </div>
                <div class="cardActivities2 row d-flex">
                    <div class="photoActivities2 col-md-6 ftco-animate fadeInUp ftco-animated">
                        <div class="photoActivities2 img img-about align-self-stretch">
                            <img src="../assets/images/helico/helico2.jpg" class="card-img-top" alt="photo hélicoptère 2">
                        </div>
                    </div>
                    <div class="photoActivities3 col-md-6 mt-1 ftco-animate fadeInUp ftco-animated">
                        <div class="photoActivities3 img img-about align-self-stretch">
                            <img src="../assets/images/helico/helico3.jpg" class="card-img-top" alt="photo hélicoptère 3">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div id="indoor" class="cardActivities1 row d-flex">
                        <div class="photoActivities1 col-md-6 ftco-animate fadeInUp ftco-animated">
                            <div class="photoActivities1 img img-about align-self-stretch">
                                <img src="../assets/images/indoor/indoor1.jpg" class="card-img-top" alt="photo indoor 1">
                            </div>
                        </div>
                        <div class="col-md-6 pl-md-5 ftco-animate fadeInUp ftco-animated">
                            <h2 class="activitieTitleIndoor mb-4">Indoor</h2>
                            <p class="textActivities">Le RCMCO a mis en place une activité indoor qui ne cesse de se développer.<br><br>
                            Aujourd'hui, nous sommes une vingtaine de pilotes à pratiquer cette discipline toute l'année, dans la détente et la bonne humeur. Les séances indoor sont ouvertes
                            à la fois aux pilotes d'avions, d'hélicoptères et de done, qui souhaitent pratiquer cette discipline en loisir ou compétition.<br><br>
                            Le RCMCO vous offre la possibilité de piloter dans une salle de 700m2, des mois de septembre à mai avec
                            une température de 20°C, sans se soucier des conditions climatiques extérieures.<br>
                            Si l'expérience indoor vous tente, venez nous rejoindre.<br>
                            Nous vous accueillerons avec plaisir.</p>
                        </div>
                    </div>
                    <div class="cardActivities2 row d-flex">
                        <div class="photoActivities2 col-md-6 ftco-animate fadeInUp ftco-animated">
                            <div class="photoActivities2 img img-about align-self-stretch">
                                <img src="../assets/images/indoor/indoor2.jpg" class="card-img-top" alt="photo indoor 2">
                            </div>
                        </div>
                        <div class="photoActivities3 col-md-6 mt-1 ftco-animate fadeInUp ftco-animated">
                            <div class="photoActivities3 img img-about align-self-stretch">
                                <img src="../assets/images/indoor/indoor3.jpg" class="card-img-top" alt="photo indoor 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
