{% extends 'userlayout.html.twig' %}

{% block content %}

<section>
    <h3 class="informationTitle bg-danger">Informations</h3>
    <div class="containerInformation container">
        <div class="infrastructuresText card-body">
            <h4 class="infrastructureTitle">Infrastructures</h4>
            <p>Nous vous accueillons sur un terrain de 4 hectars.</p>
            <p>Le club met à disposition de ses adhérents un club-house de 80m2.</p>
            <p>Pour les plus téméraires (ou pas !), nous avons un simulateur de vols.</p>
            <p>Un emplacement réservé au camping avec eau et électricité lors des concours, rencontres, stages, etc...</p>
            <p>L'association est équipé d'un bâtiment sur 2 étages dans lequel vous avez accès à des WC, lavabos, douches et à la WIFI</p>
        </div>
    </div>

    <hr>

    <div class="containerInformation container">
        <div class="cardActivities1 row d-flex">
            <div class="photoActivities1 col-md-6 ftco-animate fadeInUp ftco-animated">
                <div class="photoActivities1 img img-about align-self-stretch">
                    <img src="/assets/images/terrain.jpg" class="card-img-top" alt="photo aérienne du terrain">
                </div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate fadeInUp ftco-animated">
                <h4 class="terrainTitle mb-4">Le terrain</h4>
                <p class="terrainText">Nous vous accueillons dans un petit paradis de verdure à seulement 15min du centre ville d'Orléans.</p>
                <p class="terrainText">- 1 piste en herbe de 180 x 60 m orientée Nord-Sud</p>
                <p class="terrainText">- 1 terrain amenagé dédié au FPV racer</p>
                <p class="terrainText">Situé rue des queues de forêts 45140 Ingré </p>
                <p class="terrainText">Coordonnées GPS : Longitude: 01° 47' 14" E / Latitude: 47° 54' 55" N</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="containerInformation container">
        <div class="schema card-body">
            <h4 class="schemaTitle card-title">Schema du terrain</h4>
        </div>
        <img src="/assets/images/schema.jpg" class="card-img-top" alt="schéma du terrain et de ses infrastructures">
    </div>
</section>

{% endblock %}