{% extends 'userlayout.html.twig' %}

{% block title %} - RCMCO - Mentions légales {% endblock %}


{% block content %}
    <section class="ftco-section mt-4">
        <div class="container">
            <div class="row">
                <div class="history">
                    <h3 class="title3 pb-4">Mentions Legales :</h3>
                    <p class="pl-3 pr-3">
                    <span>
                        Association loi 1901 n°7049<br/>
                        Club affilié LAM Centre val de Loire - FFAM n° 0175<br/>
                        n° SIRET : 451 528 350 00015      n° SIREN : 451 528 350<br/>
                        Agrément ministériel Jeunesse et Sports n°45-99-015S<br/>
                        Siège social : 71 rue Charles Beauhaire - Mairie de Saint Jean de la Ruelle - 45140 St. Jean de la Ruelle<br/>
                    </span>
                    </p>
                    <p>
                        L'association est présidée par M. AUBRY Michel – 448 rue des écluses 45730 Mareau Aux Prés<br/>
                        Le site est administré par M. AUBRY Michel – 448 rue des écluses 45730 Mareau Aux Prés<br/>
                        Le site est mit gracieusement à disposition du R.C.M.C.O par <a href="http://www.aderanet.com">Aderanet</a><br/><br/>

                        Ce site contient des informations à caractère nominatif et personnel. Il n’a pas fait l’objet
                        d’une déclaration de conformité auprès de la CNIL.<br/><br/>
                        Conformément à la loi du 6 janvier 1978 (relative à l’informatique et aux libertés), vous
                        pouvez, si vous êtes concernés, disposer d’un droit d’information préalable, d’un droit d’accès
                        (direct ou indirect) aux données vous concernant, d’un droit de rectification et
                        d’opposition.<br/><br/>

                        Le droit à l’information préalable implique, pour nous, de vous prévenir préalablement de toute
                        collecte de données personnelles et de vous en communiquer leur utilisation.<br/><br/>

                        Le droit à l’accès implique, pour nous, de vous communiquer toute information vous
                        concernant.<br/>
                        Le droit de rectification implique la possibilité de faire rectifier des données vous concernant
                        qui seraient erronées.<br/>
                        Le droit d’opposition implique que vous pouvez refuser d’être fiché et que vos données soient
                        conservées dans nos bases.<br/><br/>

                        Vous pouvez exercer ces droits en contactant M. Aubry Michel l’administrateur du site :
                        <a href="#contact">mfb.aubry.free.fr</a><br/><br/>

                        Toutes ces informations collectées l’ont été dans le seul but de vous offrir et d’améliorer les
                        services proposés par notre association.<br/><br/>

                        Droits d’images :<br/>
                        Toutes les photographies hébergées sur le site sont issues des activités de l’association.<br/>
                        Toutes personnes qui n’autorisent pas les administrateurs du site a utilisé leur image à des
                        fins de promotion et de diffusion doivent demander l’application du droit de retrait qui leur
                        sera accordé sans aucune exception.<br/><br/>

                        Utilisation d’images :<br/>
                        Toutes les photographies hébergées sur le site appartiennent à l’association, conforment à
                        l’article L. 122-4 du Code de la propriété intellectuelle, toute utilisation des Photographies
                        sans autorisation écrite particulière et préalable est strictement interdite.<br/><br/>

                        Conformément à l'article L122-4 du Code de la Propriété intellectuelle : " Toute représentation
                        ou reproduction intégrale ou partielle faite sans le consentement de l'auteur ou de ses ayants
                        droit ou ayants cause est illicite. Il en est de même pour la traduction, l'adaptation ou la
                        transformation, l'arrangement ou la reproduction par un art ou un procédé quelconque. Ils
                        peuvent également, s'ils le souhaitent, signaler que les contenus peuvent être reproduits, mais
                        avec mention de la source et éventuellement un lien pointant vers le contenu
                        original."<br/><br/>
                        Alors que nous avons effectué toutes les démarches pour nous assurer de la fiabilité des
                        informations contenues sur ce site internet, l'association RCMCO ne peut encourir aucune
                        responsabilité du fait d'erreurs, d'omissions, ou pour les résultats qui pourraient être obtenus
                        par l'usage de ces informations ".
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}