{% extends'userlayout.html.twig' %}

{% block content %}
    <div class=" container">
        <div class="row text-center">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Fonction</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>President du Club</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Jean Dupont</td>
                    <td>Administrateur</td>
                    <td>jean@example.com</td>
                </tr>
                <tr>
                    <td>Pedro Lito</td>
                    <td>Directeur</td>
                    <td>pedro@example.com</td>
                </tr>
                <tr>
                    <td>July Dooley</td>
                    <td>Secretaire</td>
                    <td>july@example.com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}