{% extends 'userlayout.html.twig' %}

{% block title %} - Inscription{%  endblock %}

{% block content %}

    <section class="ftco-section">
        <div class="container inscription">
            <h3 class="title3 mb-5">Inscription</h3>

            <p>Préparer un chèque à l’ordre du RCMCO en repérant les tarifs à appliquer</p>

            <ul>
                <li>Remplir et signer la demande d’adhésion à télécharger <a
                            href="http://www.rcmco.fr/wp-content/uploads/2019/02/Inscription-club-2019.pdf" target="_blank">(ici)</a>
                </li>
                <li>Joindre un certificat médical d’aptitude à la pratique de l’aéromodélisme <a
                            href="http://www.rcmco.fr/wp-content/uploads/2019/02/PJ1-Certificat-medical-aeromodelisme.pdf"
                            target="_blank">(ici)</a>
                </li>
                <li>Joindre une photo d’identité</li>
                <li>Glisser le tout dans une enveloppe et envoyer à l’adresse suivante :</li>
            </ul>

            <address>M. AUBRY Michel – 448 rue des écluses 45730 Mareau Aux Prés</address>

            <p class="lead">Pour tout renseignement ou question, n’hésite pas à contacter Michel AUBRY
                à l’adresse mail : <a
                        href="https://mail.google.com/mail/ca/u/0/?view=cm&fs=1&tf=1&source=mailto&to=mfb.aubry@free.fr"
                        target="_blank">mfb.aubry@free.fr</a></p>
        </div>
    </section>
{% endblock %}